.app-wrapper{
  display: flex;
}
.columns-names{
  border: 1px solid #000;
}
.title{
border-bottom: 1px solid #000;
}
h3,ul{
  padding-left: 10px;
}
ul {
  list-style: none;
}
li{
  cursor: pointer;
}
li:focus,li:hover{
  cursor: pointer;
  background-color: #fefefe;
}

.dimension-wrapper,.measures-wrapper{
  display: grid;
  grid-template-columns: 100px repeat(auto-fill, 400px) 60px;
  margin: 10px 0;
  grid-gap: 10px;
}
.plot{
 display: block;
  text-align: center;
  margin: auto;
}